*{max-width: 1200px;}
body {
    font-family: Arial;
    background-image: url('/Apps/hh.jpg');
    background-size: 120% auto;     /* image thora bara */
    background-position: center top; /* top se adjust */
    background-repeat: no-repeat;
    text-align: center;
}


h1 {
    color: green;
    margin-top: 30px;
    background-color: rgba(0, 100, 0, 0.19);
}
.calculate {
    background: rgba(0, 100, 0, 0.11); /* dark green transparent */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 14px;
    padding: 10px;
    padding-top: 30px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    height: 250px;
    width: 400px;
    margin: auto;
        margin-top: 50px;
    margin-left: 400px;
       width: 90%;
    max-width: 400px;
    margin: auto;

}
input {
  font-size: 17px;
  height: 30px;
  width: 250px;
  border: 1px;
  padding: 3px;
  margin: 5px;
  border-radius: 5px;
}
button {
  background-color: black;
  color: aliceblue;
    font-size: 18px;
  height: 35px;
width: 100px;
 border: 1px;
  padding: 3px;
  margin: 5px;
  border-radius: 5px;
}

#result {
    margin-top: 15px;
    padding: 12px;
    background: rgba(23, 1, 1, 0.18);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 18px;
}
